.popup-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1250;
}
.popup-con .close-popup {
    position: absolute;
    left: 93%;
    top: 1%;
}
.popup-inner-con {
    width: 600px;
    max-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-img-con,
.popup-img-con img {
    float: left;
    width: 100%;
    position: relative;
}
.popup-img-con::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.message-overlay-con {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 25px;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.popup-img-con .message {
    display: block;
    color: #eee;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
}
.popup-img-con .nothanks {
    display: inline-block;
    color: #ccc;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 600;
}
.popup-img-con .nothanks:hover {
    color: #fff;
    cursor: pointer;
}
.popup-inner-con .gform_wrapper {
    padding: 25px;
}
.popup-inner-con div.gform_wrapper label.gfield_label {
    display: none;
}
.popup-inner-con div.gform_wrapper .gform_footer .gform_button,
.popup-inner-con div.gform_wrapper .gform_page_footer .button {
    width: 100%;
    background-color: #da842b;
    padding: 10px;
    font-size: 24px;
}
.popup-inner-con div.gform_wrapper .gform_footer .gform_button:hover,
.popup-inner-con div.gform_wrapper .gform_page_footer .button:hover {
    background-color: #ec9840;
}
.popup-inner-con div.gform_wrapper input[type="email"],
.popup-inner-con div.gform_wrapper input[type="text"],
.popup-inner-con div.gform_wrapper select {
    background-color: transparent;
    border: 2px solid #ccc;
    color: #777;
    padding: 15px;
    border-radius: 5px;
}
.popup-inner-con .gform_confirmation_message {
    color: #fff;
    border: none;
    background-color: #538594;
}
#ad-pop {
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}
#ad-pop .popup-inner-con {
    width: 50%;
    height: 65%;
}

.popup-inner-con .subpart {
    padding: 30px;
    width: 50%;
    float: left;
    height: 600px;
    text-align: center;
}
.popup-inner-con .left-part {
    background-color: #0058ab;

}

.popup-inner-con .right-part {
    background: url('https://neos.lu/wp-content/uploads/2019/03/Picture1.png');
    background-size: contain;

}

.popup-inner-con .subpart .text-wrapper{
    color:white;
    margin-top: 80px;
    margin-bottom: 130px;
}
.popup-inner-con .subpart img{
    width:75%;
    margin-top: 60px;

}
.popup-inner-con .subpart a{
  color:white;
    padding: 15px;
    border: 3px solid white;
}
.popup-inner-con .subpart p{
   margin: 0px !important;
    font-weight: bolder;
    font-size: 18px;
    text-shadow: 1px 1px black;
}
.popup-inner-con .right-part a{
    background-color:#fa0069;
    border: 3px solid #fa0069;
}
.popup-inner-con .left-part .text-wrapper{
    margin-bottom: 130px;
    margin-top: 120px;
}
@media (max-width: 767px) {
    .popup-inner-con .subpart img {
        margin-top: 10px;
    }
    .popup-inner-con {
        width: 100%;
        max-width: 100%;
    }
    .popup-inner-con .subpart {
        padding: 30px;
        width: 50%;
        float: left;
        height: 400px !important;
        text-align: center;
    }
    .popup-inner-con .left-part .text-wrapper{
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .popup-inner-con .subpart p {
        font-size: 12px;
    }
    .popup-inner-con .subpart .text-wrapper {
        color: white;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .popup-inner-con .subpart a {
        padding: 5px;
        font-size: 10px;
    }
    .popup-inner-con .right-part {
        background-size: cover;
    }
}

