<%@ page language="C#" autoeventwireup="true" inherits="Desinscription, App_Web_desinscription.aspx.cdcab7d2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Désinscription définitive</title>
    <style>
        body	{ background-color:#EEEEEE }
        td {
            font-family: verdana;
            font-size: 11px;
            font-weight: normal;
            color: #555859;
            text-decoration: none;
        }
        .t1	{
            background-color:#5c5c5c;
            border: 1px solid #80949B;
        }
        .t2	{
            background-color:#FFF5DA;
            border: 1px solid #80949B;
        }
        -->
    </style>
</head>
<body topmargin="120px">
<form id="form1" runat="server">
    <center>
        <table width="600" cellspacing="3" cellpadding="3" style="height: 291px">
            <tr>
                <td class="t1" id="titre"><b>Désinscription définitive des listes</b></td>
            </tr>
            <tr>
                <td class="t2" align="center" valign="center" style="padding:12px 15px 15px 15px;" id="lemel">
                    Cher lecteur,<br />
                    <br />
                    Votre demande de désinscription de l&#39;adresse e-mail
                    <asp:Label ID="lblEmail" runat="server" Font-Bold="True" Text="Email"></asp:Label>
                    &nbsp;a bien été prise en compte. Le délai de désinscription maximum est de un jour.</td>
            </tr>
            <tr>
                <td class="t1"><b>Désinscription d&#39;une autre adresse Email ?</b></td>
            </tr>
            <tr>
                <td class="t2" align="center" valign="center" style="padding:12px 15px 15px 15px;" id="Td1">
                    Saisir votre adresse Email ci-dessous et valider la désinscription :<br />
                    <asp:TextBox ID="txEmail2" runat="server" Width="220px"></asp:TextBox>
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server"
                                                ControlToValidate="txEmail2" ErrorMessage="RequiredFieldValidator">*</asp:RequiredFieldValidator>
                    <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server"
                                                    ControlToValidate="txEmail2" ErrorMessage="RegularExpressionValidator"
                                                    ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*">*</asp:RegularExpressionValidator>
                    <br />
                    <font style="FONT-SIZE: 10px">
                        <asp:Button ID="Button1" runat="server" onclick="Button1_Click"
                                    Text="Désinscription" />
                        </a></font>
                </td>
            </tr>
        </table>
    </center>
</form>
</body>
</html>
